
<% if true %>
<!DOCTYPE html>
  <body class="<%= page_class %>">

    <div id="page_container">
      <header>
      </header>
      <section id='page'>
        <img src="/images/construction.jpg">
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>

<% end %>

<% if false %>
<% content_for :javascript_libraries do %>
  <%= javascript_include_tag "http://code.jquery.com/jquery.min.js", "jquery.jscrollpane" %>  
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "application" %>
<% end %>

<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body class="<%= page_class %>">
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header>
        <%= render :partial => "/shared/header" -%>
      </header>
      <section id='page'>
        <%= render(:partial => "/shared/menu", :locals => {
                     :dom_id => 'menu',
                     :css => 'menu'
                   }) %>
        
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
<% end %>